@{
    ViewData["Title"] = "Home Page";
}

<style>
   
    .bg-video { 
        width: 100%; /* Make the video fill the container width */        
      } 
</style>

<div class="container align-items-center">      
        <video autoplay muted loop class="bg-video">
            <source src="~/videos/Vaule-1.mp4" type="video/mp4" />
        </video>   
</div>
